.head1{
	padding-left:156px;
	padding-right:0px;
	padding-bottom:18px;
	padding-top:22px;
	font-size:31px;
	margin:0px;
	margin-top:80px;
	
}
.head2{
	padding-left:156px;
	padding-right:0px;
	padding-bottom:18px;
	padding-top:22px;
	font-size:27px;
	margin:0px;
	
}
.head3{
	padding-left:156px;
	padding-right:0px;
	padding-bottom:18px;
	padding-top:22px;
	font-size:27px;
	margin:0px;
	
}
img{
	float:right;
	width:300px;
	height:300px;
	margin-right:380px;
	border: 2px solid green;	
}
.content1{
	width:600px;
	padding-left:190px;
	font-size:19px;
	text-align:justify;
	margin:0px;
	padding-bottom:0px;
	padding-top:0px;
}
.content2{
	width:600px;
	padding-left:220px;
	font-size:20.25px;
	margin:0px;
	padding-bottom:0px;
	padding-top:0px;
}
.content3{
	width:600px;
	padding-left:220px;
	font-size:20.25px;
	margin:0px;
	padding-bottom:0px;
	padding-top:0px;
}
.content{
	height:relative;
	text-align:left;
}
